<div class="dashboard-content">
    <header class="dashboard-header">
        <span class="dashboard-header-titulo">{{titulo}}</span>
    </header>
    <div style="display: grid; grid-template-columns: auto 1fr;">
        <section class="sidebar">
            <button mat-raised-button color="primary" *ngFor="let model of accesos">{{model.titulo}}</button>
        </section>
        <main style="overflow-y: scroll; max-height: calc(100vh - 80px);">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>