header {
    z-index: 2;
    padding: 1.5rem;
    background: var(--color-indigo);
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & * { margin: 0; }

    & .nombre-pagina-web {
        font-size: 1.5rem;
        cursor: pointer;
    }

    & div:has(.nombre-pagina-web) {
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }

}


main {
    overflow-y: scroll;
    max-height: calc(100vh - 80px);
}

.content {
    height: 100vh;
    display: grid;
    grid-template-rows: 80px 1fr;
}

.header-titulo {
    font-size: large;
    font-weight: 500;
}

.contenedor-principal {
    display: grid;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.contenedor-principal-block {
    grid-template-columns: auto 1fr;
}

.contenedor-principal-none{
    grid-template-columns: 1fr;
}

.sidebar {
    background: var(--color-indigo);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;
    gap: 0.2rem;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.sidebar button {
    background: var(--color-indigo);
    color: #fff;
}

.container-sidebar-large{
    position: relative;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
}

.container-sidebar-short{
    z-index: 5;
    position: fixed;
    height: 100%;
    transform: translateX(-300%);
    -webkit-transform: translateX(-300%);
    -moz-transform: translateX(-300%);
    -ms-transform: translateX(-300%);
    -o-transform: translateX(-300%);
}

@media (width < 800px) {
    .contenedor-principal-block {
        grid-template-columns: 1fr;
    }

    .container-sidebar-large{
        z-index: 5;
        position: fixed;
        height: 100%;
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
    }
}