<section class="contenedor-general">
    <div>
        <div class="contenedor-estudiante">
            <h2>Asignar estudiante</h2>
            <div>
                <select name="facultad" id="facultad" (change)="filtrarEscuelaEstudiante()" [(ngModel)]="facultadSeleccionadoEstudiante">
                    <option [ngValue]="facultad" *ngFor="let facultad of listaFacultadEstudiante">{{facultad.nombre}}</option>
                </select>
                <select name="escuela" id="escuela" (change)="filtrarCicloEstudiante()" [(ngModel)]="escuelaSeleccionadoEstudiante">
                    <option [ngValue]="escuela" *ngFor="let escuela of listaEscuelaEstudiante">{{escuela.nombre}}</option>
                </select>
                <select name="ciclo" id="ciclo" (ngModelChange)="filtrarEstudiante()" [(ngModel)]="cicloSeleccionadoEstudiante">
                    <option [ngValue]="ciclo" *ngFor="let ciclo of listaCicloEstudiante">{{ciclo.nombre}}</option>
                </select>
            </div>
            <main class="contenedor-tabla-data data-estudiante">
                <header>
                    <span>Codigo</span>
                    <span>Estudiante</span>
                    <span>Facultad</span>
                    <span>Escuela</span>
                    <span>Ciclo</span>
                    <span>Grupo</span>
                    <span>Accion</span>
                </header>
                <section>
                    <ng-container *ngIf="listaEstudiante.length > 0; else vacioEstudiante">
                        <p *ngFor="let estudiante of listaEstudiante">
                            <span>{{estudiante.codigo}}</span>
                            <span>{{estudiante.persona.nombre}}</span>
                            <span>{{estudiante.ciclo.escuela.facultad.nombre}}</span>
                            <span>{{estudiante.ciclo.escuela.nombre}}</span>
                            <span>{{estudiante.ciclo.nombre}}</span>
                            <span>{{estudiante.grupo_universitario.nombre}}</span>
                            <span>
                                <button (click)="quitarEstudiante(estudiante)">Quitar</button>
                            </span>
                        </p>
                    </ng-container>
                    <ng-template #vacioEstudiante>
                        vacio
                    </ng-template>
                </section>
            </main>
            <div class="contenedor-busqueda">
                <div>
                    <label for="buscar-estudiante">Estudiante externo:</label>
                    <div>
                        <input type="text" name="externo-estudiante" id="buscar-estudiante" placeholder="codigo" [(ngModel)]="codigo">
                        <input type="submit" value="Buscar" (click)="buscarEstudiante()">
                    </div>
                </div>
                <article class="resultado-busqueda resultado-estudiante">
                    <ng-container *ngIf="estudianteEncontrado.id != 0, else estudianteNoEncontrado">
                        <span>{{estudianteEncontrado.codigo}}</span>
                        <span>{{estudianteEncontrado.persona.nombre}}</span>
                        <span>{{estudianteEncontrado.ciclo.escuela.facultad.nombre}}</span>
                        <span>{{estudianteEncontrado.ciclo.escuela.nombre}}</span>
                        <span>{{estudianteEncontrado.ciclo.nombre}}</span>
                        <span>{{estudianteEncontrado.grupo_universitario.nombre}}</span>
                        <span>
                            <button (click)="agregarEstudiante(estudianteEncontrado)">Agregar</button>
                        </span>
                    </ng-container>
                    <ng-template #estudianteNoEncontrado>
                        no se encontro
                    </ng-template>
                </article>
            </div>
        </div>
        <div class="contenedor-docente">
            <h2>Asignar docente</h2>
            <div>
                <select name="facultad" id="facultad" (change)="filtrarEscuelaDocente()" [(ngModel)]="facultadSeleccionadoDocente">
                    <option [ngValue]="facultad" *ngFor="let facultad of listaFacultadDocente">{{facultad.nombre}}</option>
                </select>
                <select name="escuela" id="escuela" (change)="filtrarCursoArticuladoDocente()" [(ngModel)]="escuelaSeleccionadoDocente">
                    <option [ngValue]="escuela" *ngFor="let escuela of listaEscuelaDocente">{{escuela.nombre}}</option>
                </select>
                <select name="curso" id="curso-articulado" (change)="filtrarDocente()" [(ngModel)]="cursoArticuladoSeleccionadoDocente">
                    <option [ngValue]="curso" *ngFor="let curso of listaCursoArticuladoDocente">{{curso.nombre}}</option>
                </select>
            </div>
            <main class="contenedor-tabla-data data-docente">
                <header>
                    <span>DNI</span>
                    <span>Nombre</span>
                    <span>Facultad</span>
                    <span>Escuela</span>
                    <span>Curso articulado</span>
                    <span>Accion</span>
                </header>
                <section>
                    <ng-container *ngIf="listaCursoArticulado_vistaDocente.length > 0, else vacioDocente">
                        <p *ngFor="let vista_docente of listaCursoArticulado_vistaDocente">
                            <span>{{vista_docente.persona.dni}}</span>
                            <span>{{vista_docente.persona.nombre}}</span>
                            <span>{{vista_docente.escuela.facultad.nombre}}</span>
                            <span>{{vista_docente.escuela.nombre}}</span>
                            <span>{{vista_docente.nombre}}</span>
                            <span>
                                <button (click)="quitarDocente(vista_docente)">Quitar</button>
                            </span>
                        </p>
                    </ng-container>
                    <ng-template #vacioDocente>
                        vacio
                    </ng-template>
                </section>
            </main>
            <div class="contenedor-busqueda">
                <div>
                    <label for="">docente externo:</label>
                    <div>
                        <input type="text" name="externo-docente" id="buscar-docente" placeholder="dni" [(ngModel)]="dni">
                        <input type="submit" value="Buscar" (click)="buscarDocente()">
                    </div>
                </div>
                <article class="resultado-busqueda resultado-docente" *ngFor="let vista_docente2 of cursoArticuladoEncontrado_vistaDocente">
                    <ng-container *ngIf="cursoArticuladoEncontrado_vistaDocente.length > 0, else docenteNoEncontrado">
                        <span>{{vista_docente2.persona.dni}}</span>
                        <span>{{vista_docente2.persona.nombre}}</span>
                        <span>{{vista_docente2.escuela.facultad.nombre}}</span>
                        <span>{{vista_docente2.escuela.nombre}}</span>
                        <span>{{vista_docente2.nombre}}</span>
                        <span>
                            <button (click)="agregarDocente(vista_docente2)">Agregar</button>
                        </span>
                    </ng-container>
                    <ng-template #docenteNoEncontrado>
                        no se encontro
                    </ng-template>
                </article>
            </div>
        </div>
    </div>
    <section class="contenedor-btn-acciones">
        <button mat-raised-button color="warn">Cancelar</button>
        <button type="submit" mat-raised-button color="primary" (click)="guardarParticipante()">Guardar</button>
    </section>
</section>