<div class="p-3">
    <p-table
    [value]="plantillaLista"
    [lazy]="true"
    (onLazyLoad)="loadPlantilla($event)"
    dataKey="id"
    [tableStyle]="{ 'min-width': '75rem' }"
    [selection]="plantilla"
    (selectionChange)="onSelectionChange($event)"
    [selectAll]="selectAll"
    (selectAllChange)="onSelectAllChange($event)"
    [paginator]="true"
    [rows]="10"
    [totalRecords]="totalRecords"
    [loading]="loading"
    [globalFilterFields]="['nombre', 'tipo', 'descripcion']"
    >
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 4rem"></th>
            <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
            <th pSortableColumn="tipo">tipo <p-sortIcon field="tipo"></p-sortIcon></th>
            <th pSortableColumn="descripcion">descripcion <p-sortIcon field="descripcion"></p-sortIcon></th>
        </tr>
        <tr>
            <th style="width: 4rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th>
                <p-columnFilter type="text" field="nombre"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="tipo"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="descripcion"></p-columnFilter>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-plantilla>
        <tr>
            <td>
                <p-tableCheckbox [value]="plantilla"></p-tableCheckbox>
            </td>
            <td>{{ plantilla.nombre }}</td>
            <td>{{ plantilla.tipo }}</td>
            <td>{{ plantilla.descripcion }}</td>
        </tr>
    </ng-template>
    </p-table>
</div>