<section>
    <div>
        <h1>Seleccionar encargado de grupo</h1>
        <main class="contenedor-tabla-data data-estudiante">
            <header>
                <span>Codigo</span>
                <span>Estudiante</span>
                <span>Facultad</span>
                <span>Escuela</span>
                <span>Ciclo</span>
                <span>Grupo</span>
                <span>Encargado</span>
            </header>
            <section>
                <p>
                    <span>202312322</span>
                    <span>Luis Lucero</span>
                    <span>FIA</span>
                    <span>Ing de Sistemas</span>
                    <span>IV</span>
                    <span>I</span>
                    <span>
                        <label class="container">
                            <input type="checkbox" id="encargado" name="encargado">
                            <div class="checkmark"></div>
                        </label>
                    </span>
                </p>
            </section>
        </main>
    </div>
    <section class="contenedor-btn-acciones">
        <button mat-raised-button color="warn">Cancelar</button>
        <button type="submit" mat-raised-button color="primary">Guardar</button>
    </section>
</section>