<div class="container">
    <header>
        <h1>{{titulo}}</h1>
        <app-perfil></app-perfil>
    </header>
    <main>
        <div *ngFor="let module of accesos" class="card" (click)="navegar(module)">
            {{module.titulo}}
        </div>
    </main>
    <div class="sidebar-usuario">
        <h1>{{titulo}}</h1>
        <div class="perfil">
            <img appPerfil class="img-perfil" src="" alt="perfil del usuario">
            <h3>{{persona.nombre}}</h3>
            <span>Administrador</span>
        </div>
        <button mat-raised-button color="warn" (click)="cerrarSesion()">Cerrar Sesion</button>
    </div>
</div>
