<div class="h-screen overflow-hidden d-grid" style="grid-template-columns: 1fr auto;">
    <main class="gap-3 p-3 bg-primary d-grid" style="grid-template-rows: 10rem; grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));">
        <app-card-module [moduleView]="module" *ngFor="let module of moduleView" class="p-card align-content-center d-grid"></app-card-module>
    </main>
    <div class="flex flex-column px-3 py-2 text-center gap-2 max-w-14rem bg-black-alpha-90 text-white">
        <h1 class="m-0">OverSky</h1>
        <i class="pi pi-users text-8xl"></i>
        <div>
            <h3 class="m-0">Nombre del ususario</h3>
            <p class="m-0">rol del usuario</p>
        </div>
        <p-button label="Cerrar sesion" styleClass="p-button-danger" (onClick)="cerrarSesion()"></p-button>
    </div>
</div>
