header {
    padding: 1rem 0.5rem;
    text-align: center;
    background: var(--color-indigo);
    color: #fff;
    align-items: center;
    justify-content: space-between;
    display: none;

    & * { margin: 0; }
}

.container-p {
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr auto;

    & > main {
        background: linear-gradient(to bottom,rgba(0,238,255,0.7),rgba(3,28,255,0.7));
        padding: 1.5rem;
        display: grid;
        gap: 0.5rem;
        grid-template-rows: 10rem;
        grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    }
}

.card {
    height: 10rem;
    background: rgba(255, 255, 255, 0.9);
    text-align: center;
    font-size: large;
    color: #000000b6;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: solid 0.2rem #fff;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
}

.card:hover {
    border-color: #0946c1b6;
    box-shadow: 0 0 1rem #0946c1b6,
                inset 0 0 0.5rem #0946c1b6;
    font-weight: 500;
    color: #0946c1;
}

.sidebar-usuario {    
    padding: 3rem 2rem;
    max-width: 14rem;
    background-color: var(--color-indigo);

    text-align: center;
    color: #fff;
    
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & > h1 {
        font-size: xx-large;
        font-weight: 500;
    }

    & *{
        margin: 0;
    }
}


.perfil span {
    padding: 0.1rem 0.5rem;
    background: rgb(203, 142, 28);
    border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;
}

.perfil .img-perfil {
    background: #ffffffcc;
    height: 7rem;
    width: 7rem;
    border: solid 0.2rem #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

@media (width < 500px) {
    header {display: flex;}
    .sidebar-usuario { display: none; }
    .container-p {
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr;

        & > main {
            overflow-y: scroll;
        }
    }
}