<div class="contenido">
  <mat-form-field class="mat-form-field">
    <mat-label>Fechas de Ejecución</mat-label>
    <mat-select>
      <mat-option value="one">Sorting Networks 02/09/2023</mat-option>
      <mat-option value="two">Detección de errores 09/09/2023</mat-option>
      <mat-option value="two">La hora del código 31/10/2023</mat-option>
      <mat-option value="two">Angular Material 07/11/2023</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="body">
    <div>
      <h1>Lista</h1>
    </div>
    <div class="informe-div">
      <label for="informe">Informe:</label>
      <div class="agregar-plantilla-form-contenedor-input-file">
        <input type="file" name="" id="">
      </div>
    </div>
  </div>

</div>
<section class="contenedor-btn-acciones">
  <button mat-raised-button color="warn">Cancelar</button>
  <button type="submit" mat-raised-button color="primary">Guardar</button>
</section>
