<section class="form">
  <section class="contenedor-datos-principales">
    <div class="datos-general">
      <h1 class="title-datos-generales">{{proyecto.codigo || 'GENERANDO...'}}</h1>
      <select name="escuela" id="escuela" (change)="filtrarCicloPorEscuela(); generaracionCodigoProyecto()" [(ngModel)]="escuelaSeleccionada.id">
        <option value="0" selected disabled *ngIf="!statusUpdate" >Seleccione una opcion</option>
        <option *ngFor="let escuela of listaEscuela" [ngValue]="escuela.id">{{escuela.nombre}}</option>
      </select>
      <h5>CORDINADOR: {{proyecto.coordinador | uppercase}}</h5>
    </div>

    <div class="datos-proyecto-general">
      <div>
        <label for="nombre-proyecto">NOMBRE DEL PROYECTO:</label>
        <input type="text" name="nombre" id="nombre-proyecto" [(ngModel)]="proyecto.nombre">
      </div>

      <div>
        <div>
          <label for="lugar">LUGAR:</label>
          <input type="text" name="lugar" id="lugar" [(ngModel)]="proyecto.lugar">
        </div>
        <div>
          <label for="fecha-inicio">FECHA:</label>
          <input type="date" name="fecha-inicio" id="fecha-inicio" [(ngModel)]="proyecto.fecha_inicio">
          <label for="fecha-fin">AL</label>
          <input type="date" name="fecha-fin" id="fecha-fin"  [(ngModel)]="proyecto.fecha_fin">
        </div>
      </div>

      <div>
        <div>
          <label for="tipo-convenio">TIPO CONVENIO:</label>
          <select name="tipo-convenio" id="tipo-convenio" [(ngModel)]="tipoConvenioSeleccionada.id">
            <option value="0" selected disabled *ngIf="!statusUpdate" >Seleccione una opcion</option>
            <option [ngValue]="convenio.id" *ngFor="let convenio of listaTipoConvenio">{{convenio.nombre}}</option>
          </select>
        </div>
        <div>
          <p>ESTADO:</p>
          <span class="badge">Pendiente</span>
        </div>
      </div>

      <div>
        <div>
          <label for="presupuesto">PRESUPUESTO:</label>
          <input type="number" name="presupuesto" id="presupuesto" [(ngModel)]="proyecto.presupuesto">
        </div>
        <div>
          <label for="ciclo">CICLO:</label>
          <select name="ciclo" id="ciclo" (change)="filtrarCursoPorCiclo()" [(ngModel)]="cicloSeleccionada.id">
            <option value="0" selected disabled *ngIf="!statusUpdate" >Seleccione una opcion</option>
            <option [ngValue]="ciclo.id" *ngFor="let ciclo of listarCiclo">{{ciclo.nombre}}</option>
          </select>
        </div>
      </div>

      <div>
        <label for="curso-articulado">CURSO ARTICULADO:</label>
        <select name="curso-articulado" id="curso-articulado" [(ngModel)]="cursoArticuladoSeleccionada.id">
          <option value="0" selected disabled *ngIf="!statusUpdate" >Seleccione una opcion</option>
          <option [ngValue]="curso.id" *ngFor="let curso of listaCursoArticulado">{{curso.nombre}}</option>
        </select>
      </div>
    </div>
  </section>

  <section class="contenedor-objetivo">
    <label for="objetivo">OBJETIVO: </label>
    <textarea name="objetivo" id="objetivo" cols="30" rows="10" [(ngModel)]="proyecto.objetivos"></textarea>
  </section>

  <section class="contenedor-descripcion">
    <label for="descripcion">DESCRIPCION: </label>
    <textarea name="descripcion" id="descripcion" cols="30" rows="10" [(ngModel)]="proyecto.descripcion"></textarea>
  </section>

  <app-drop-area class="contenedor-recursos" [horizontal]="true" (fileUrlsEmitter)="onFileUrlsEmitted($event)"></app-drop-area>

  <section class="contenedor-btn-acciones">
    <button mat-raised-button style="background: #fedc1b;" *ngIf="!statusUpdate" (click)="limpiar()">Limpiar</button>
    <button mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="subirProyecto()">Guardar</button>
  </section>
</section>