<section class="form">
  <app-notificacion [mensaje]="mensaje" [satisfaccion]="satisfaccion" [confirmarEnvioHttp]="confirmarEnvioHttp"></app-notificacion>
  <section class="contenedor-datos-principales">
    <div class="datos-general">
      <h1 class="title-datos-generales">{{proyecto.codigo || 'GENERANDO...'}}</h1>
      <select name="escuela" id="escuela" (change)="filtrarCursoPorEscuela()" [(ngModel)]="proyecto.escuela">
        <option *ngFor="let escuela of listaEscuela | async" [ngValue]="escuela" [selected]="escuela.id == 4">{{escuela.nombre}}</option>
      </select>
      <h5>CORDINADOR: {{proyecto.coordinador | uppercase}}</h5>
    </div>

    <div class="datos-proyecto-general">
      <div>
        <label for="nombre-proyecto">NOMBRE DEL PROYECTO:</label>
        <input type="text" name="nombre" id="nombre-proyecto" [(ngModel)]="proyecto.nombre">
      </div>

      <div>
        <div>
          <label for="lugar">LUGAR:</label>
          <input type="text" name="lugar" id="lugar" [(ngModel)]="proyecto.lugar">
        </div>
        <div>
          <label for="fecha-inicio">FECHA:</label>
          <input type="date" name="fecha-inicio" id="fecha-inicio" [(ngModel)]="proyecto.fecha_inicio">
          <label for="fecha-fin">AL</label>
          <input type="date" name="fecha-fin" id="fecha-fin"  [(ngModel)]="proyecto.fecha_fin">
        </div>
      </div>

      <div>
        <div>
          <label for="tipo-convenio">TIPO CONVENIO:</label>
          <select name="tipo-convenio" id="tipo-convenio" [(ngModel)]="proyecto.tipo_convenio">
            <option [ngValue]="convenio" *ngFor="let convenio of listaTipoConvenio">{{convenio.nombre}}</option>
          </select>
        </div>
        <div>
          <p>ESTADO:</p>
          <span class="badge">Pendiente</span>
        </div>
      </div>

      <div>
        <div>
          <label for="presupuesto">PRESUPUESTO:</label>
          <input type="text" name="presupuesto" id="presupuesto" [(ngModel)]="proyecto.presupuesto">
        </div>
        <div>
          <label for="ciclo">CICLO:</label>
          <select name="ciclo" id="ciclo" (change)="filtrarCursoArticulado()" [(ngModel)]="proyecto.ciclo">
            <option [ngValue]="ciclo" *ngFor="let ciclo of listarCiclo">{{ciclo.nombre}}</option>
          </select>
        </div>
      </div>

      <div>
        <label for="curso-articulado">CURSO ARTICULADO:</label>
        <select name="curso-articulado" id="curso-articulado" [(ngModel)]="proyecto.curso_articulado">
          <option [ngValue]="curso" *ngFor="let curso of listaCursoArticulado">{{curso.nombre}}</option>
        </select>
      </div>
    </div>
  </section>

  <section class="contenedor-objetivo">
    <label for="objetivo">OBJETIVO: </label>
    <textarea name="objetivo" id="objetivo" cols="30" rows="10" [(ngModel)]="proyecto.objetivos"></textarea>
  </section>

  <section class="contenedor-descripcion">
    <label for="descripcion">DESCRIPCION: </label>
    <textarea name="descripcion" id="descripcion" cols="30" rows="10" [(ngModel)]="proyecto.descripcion"></textarea>
  </section>

  <app-drop-area class="contenedor-recursos" [horizontal]="true" [carpeta]="carpetaFire" (fileUrlsEmitter)="onFileUrlsEmitted($event)"></app-drop-area>

  <section class="contenedor-btn-acciones">
    <button mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="subirProyecto()">Guardar</button>
  </section>
</section>