<section class="container">
    <div class="d-flex justify-content-center p-2">
        <span class="h1 strong">Mantener tipo convenio</span>
    </div>
    <main class="d-flex gap-3 justify-content-center">
        <div class="d-grid justify-content-center align-items-start">
            <table class="table h5">
                <thead>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Accion</th>
                </thead>
                <tbody>
                    <tr *ngFor="let tipoConvenio of listaConvenio; let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{tipoConvenio.nombre}}</td>
                        <td>
                            <i class="material-symbols-outlined material-icons text-primary" (click)="editar(tipoConvenio)">edit</i>
                            <i class="material-symbols-outlined material-icons text-danger" (click)="eliminar(tipoConvenio.id)">delete</i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <article class="card">
            <div class="card-body">
                <h3 class="text-center">Agregar tipo convenio</h3>
                <div class="mb-3">
                    <label for="nombre" class="form-label">nombre</label>
                    <input type="text" class="form-control" id="nombre" [(ngModel)]="tipoConvenio.nombre">
                </div>
                <div class="d-flex gap-1 justify-content-end">
                    <button class="btn btn-outline-danger" (click)="cancelar()">Cancelar</button>
                    <button class="btn btn-primary" (click)="guardar()">Agregar</button>
                </div>
            </div>
        </article>
    </main>
</section>