<div class="container">

  <h1 class="text-center mt-4">PROYECTOS</h1>

  <hr class="border border-primary border-3 opacity-75">

  <div class="d-flex justify-content-center align-items-center">
    <span class="border border-secondary rounded p-2">Horas Totales: </span>
  </div>
</div>



<div class="d-flex justify-content-center mt-md-5">
  <table class="table table-hover mt-5 mat-elevation-z1 ">
    <thead>
      <th>#</th>
      <th>Nombre - Proyecto</th>
      <th>Facultad</th>
      <th>Escuela</th>
      <th>Ciclo</th>
      <th>Lugar</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let column of col; let i = index">
        <td>{{ i + 1 }}</td>
        <td>
          {{ column.name }}
        </td>

        <td>
          {{ column.facultad }}
        </td>

        <td>
          {{ column.escuela }}
        </td>

        <td>
          {{ column.ciclo }}
        </td>

        <td>
          <!-- {{ column.ciclo }} --> hola
        </td>

        <td>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <div *ngIf="selectedRow">
  <h3>Datos de la fila seleccionada:</h3>
  <ul>
    <li>Código: {{ selectedRow?.codigo }}</li>
    <li>Nombre: {{ selectedRow?.name }}</li>
    <li>Facultad: {{ selectedRow?.facultad }}</li>
    <li>Escuela: {{ selectedRow?.escuela }}</li>
    <li>Ciclo: {{ selectedRow?.ciclo }}</li>
    <li>Horas: {{ selectedRow?.horas }}</li>
  </ul>
</div> -->
