<section>
    <div>
        <table>
            <thead>
                <th>#</th>
                <th>Actividad</th>
                <th>Fecha</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>
                        <input type="text" name="actividad" id="actividad">
                    </td>
                    <td>
                        <input type="date" name="fecha" id="fecha">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <section class="contenedor-btn-acciones">
        <button mat-raised-button color="warn">Cancelar</button>
        <button type="submit" mat-raised-button color="primary">Guardar</button>
    </section>
</section>