<section class="container">
    <div class="d-flex justify-content-center p-2">
        <span class="h1 strong">Mantener docente</span>
    </div>
    <main class="d-flex gap-3 justify-content-center">
        <div class="d-grid justify-content-center align-items-start">
            <table class="table h5">
                <thead>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>DNI</th>
                    <th>email</th>
                    <th>contraseña</th>
                    <th>Accion</th>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>David Reyna</td>
                        <td>26219262</td>
                        <td>David.Reyna@upeu.edu.pe</td>
                        <td>D****</td>
                        <td>
                            <i class="material-symbols-outlined material-icons text-primary">edit</i>
                            <i class="material-symbols-outlined material-icons text-danger">delete</i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <article class="card">
            <div class="card-body">
                <h3 class="text-center">Agregar docente</h3>
                <div class="mb-3">
                    <label for="nombre" class="form-label">nombre</label>
                    <input type="text" class="form-control" id="nombre">
                </div>
                <div class="mb-3">
                    <label for="dni" class="form-label">DNI</label>
                    <input type="text" class="form-control" id="dni">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">email</label>
                    <input type="text" class="form-control" id="email">
                </div>
                <div class="mb-3">
                    <label for="contrasena" class="form-label">contraseña</label>
                    <input type="text" class="form-control" id="contrasena">
                </div>
                <div class="d-flex gap-1 justify-content-end">
                    <button class="btn btn-outline-danger">Cancelar</button>
                    <button class="btn btn-primary">Agregar</button>
                </div>
            </div>
        </article>
    </main>
</section>