<section class="content">
    <div class="content-main">
        <div>
            <h3>Roles de Negocio</h3>
            <ul>
                <li *ngFor="let rolNegocio of listaRolNegocio">
                    <label class="container">
                        <input type="checkbox" [id]="'rol-' + rolNegocio.id" (click)="agregarRol(rolNegocio)" [checked]="verificarRolNegocio(rolNegocio)">
                        <div class="checkmark"></div>
                    </label>
                    <label for="rol-{{rolNegocio.id}}" (click)="agregarRol(rolNegocio)">{{rolNegocio.nombre}}</label>
                </li>
            </ul>
        </div>
        <table>
            <thead>
                <th>Roles</th>
                <th>Horas</th>
                <th>Descripcion</th>
            </thead>
            <tbody>
                <tr *ngFor="let rolProyecto of listaRolProyecto">
                    <td>{{rolProyecto.rol_negocio?.nombre}}</td>
                    <td>
                        <input type="number" name="hora" id="hora" [(ngModel)]="rolProyecto.hora">
                    </td>
                    <td>
                        <input type="text" name="descripcion" id="descripcion" [(ngModel)]="rolProyecto.descripcion">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <section class="contenedor-btn-acciones">
        <button mat-raised-button color="warn" (click)="cancelarCambios()">Cancelar</button>
        <button type="submit" mat-raised-button color="primary" (click)="enviarObjecto()">Guardar</button>
    </section>
</section>