.alerta-confirmacion {
    z-index: 2;
    cursor: pointer;
    padding: 0.5rem;
    position: fixed;
    border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
  }
  
  .confirmado {
    right: 1rem;
    bottom: 1rem;
  }
  
  .no-confirmado {
    right: -10rem;
    bottom: 1rem;
  }
  
  .no-satisfecho {
    background-color: red;
    color: #fff;
  }
  
  .satisfecho {
    background-color: green;
    color: #fff;
  }
  