<section class="contenido-general">
    <div>
        <form [formGroup]="formulario" class="orden-formulario">
            <h1>{{titulo}}</h1>
    
            <mat-form-field class="content-input">
                <mat-label>Ingresar su email</mat-label>
                <input matInput placeholder="usuario.example@upeu.edu.pe" formControlName="usuario" required>
            </mat-form-field>
    
            <mat-form-field class="content-input">
                <mat-label>Ingresar su contraseña</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="contrasena">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
    
            <button mat-raised-button color="primary" [disabled]="formulario.invalid" (click)="onSumit()">Iniciar sesion</button>
        </form>
    </div>
</section>