.contenedor {
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.contenedor-btn-acceso {
  display: grid;
  grid-template-columns: repeat(5,1fr);
}
.contenedor-btn-acceso button {
  /* background: #001c48;
  color: #fff; */
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
